{
  "swagger" : "2.0",
  "info" : {
    "description" : "Headline : A web-based hosting service for software development projects that use the Git revision control system.",
    "version" : "v3",
    "title" : "GitHub API"
  },
  "host" : "api.github.com",
  "basePath" : "",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/emojis" : {
      "get" : {
        "summary" : "Lists all the emojis available to use on GitHub.",
        "description" : "Lists all the emojis available to use on GitHub.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/emojis"
            }
          }
        }
      }
    },
    "/feeds" : {
      "get" : {
        "summary" : "List Feeds.\r\nGitHub provides several timeline resources in Atom format. The Feeds API\r\n lists all the feeds available to the authenticating user.\r\n",
        "description" : "List Feeds.\r\nGitHub provides several timeline resources in At...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/feeds"
            }
          }
        }
      }
    },
    "/gists/{id}/forks" : {
      "post" : {
        "summary" : "Fork a gist.",
        "description" : "Fork a gist.",
        "operationId" : "POST",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : { }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "Id of a thread.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/gists/{id}/star" : {
      "get" : {
        "summary" : "Check if a gist is starred.",
        "description" : "Check if a gist is starred.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : { }
      },
      "put" : {
        "summary" : "Star a gist.",
        "description" : "Star a gist.",
        "operationId" : "PUT",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : { }
      },
      "delete" : {
        "summary" : "Unstar a gist.",
        "description" : "Unstar a gist.",
        "operationId" : "DELETE",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : { }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "Id of a thread.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/gitignore/templates" : {
      "get" : {
        "summary" : "Listing available templates.\r\nList all templates available to pass as an option when creating a repository.\r\n",
        "description" : "Listing available templates.\r\nList all templates available to...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/gitignore"
            }
          }
        }
      }
    },
    "/gitignore/templates/{language}" : {
      "get" : {
        "summary" : "Get a single template.",
        "description" : "Get a single template.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/gitignore-lang"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "language",
        "in" : "path",
        "description" : "(Untitled)",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/legacy/issues/search/{owner}/{repository}/{state}/{keyword}" : {
      "get" : {
        "summary" : "Find issues by state and keyword.",
        "description" : "Find issues by state and keyword.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/search-issues-by-keyword"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "repository",
        "in" : "path",
        "description" : "(Untitled)",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "owner",
        "in" : "path",
        "description" : "(Untitled)",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "state",
        "in" : "path",
        "description" : "Indicates the state of the issues to return. Can be either open or closed.",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "keyword",
        "in" : "path",
        "description" : "The search term.",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/legacy/repos/search/{keyword}" : {
      "get" : {
        "summary" : "Find repositories by keyword. Note, this legacy method does not follow the v3 pagination pattern. This method returns up to 100 results per page and pages can be fetched using the start_page parameter.",
        "description" : "Find repositories by keyword. Note, this legacy method does ...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Filter results by language",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "start_page",
          "in" : "query",
          "description" : "The page number to fetch",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "The sort field. if sort param is provided. Can be either asc or desc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The sort field. One of stars, forks, or updated. Default: results are sorted by best match.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/search-repositories-by-keyword"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "keyword",
        "in" : "path",
        "description" : "The search term",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/legacy/user/email/{email}" : {
      "get" : {
        "summary" : "This API call is added for compatibility reasons only.",
        "description" : "This API call is added for compatibility reasons only.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/search-user-by-email"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "email",
        "in" : "path",
        "description" : "The email address",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/legacy/user/search/{keyword}" : {
      "get" : {
        "summary" : "Find users by keyword.",
        "description" : "Find users by keyword.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "The sort field. One of stars, forks, or updated. Default: results are sorted by best match.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "The sort field. if sort param is provided. Can be either asc or desc.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "start_page",
          "in" : "query",
          "description" : "The page number to fetch",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/search-users-by-keyword"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "keyword",
        "in" : "path",
        "description" : "The search term",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/markdown" : {
      "post" : {
        "summary" : "Render an arbitrary Markdown document",
        "description" : "Render an arbitrary Markdown document",
        "operationId" : "POST",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/markdown"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)"
          }
        }
      }
    },
    "/markdown/raw" : {
      "post" : {
        "summary" : "Render a Markdown document in raw mode",
        "description" : "Render a Markdown document in raw mode",
        "operationId" : "POST",
        "consumes" : [ "text/plain" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/model891"
          }
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)"
          }
        }
      }
    },
    "/meta" : {
      "get" : {
        "summary" : "This gives some information about GitHub.com, the service.",
        "description" : "This gives some information about GitHub.com, the service.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/meta"
            }
          }
        }
      }
    },
    "/networks/{ownerId}/{repoId}/events" : {
      "get" : {
        "summary" : "List public events for a network of repositories.",
        "description" : "List public events for a network of repositories.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/events"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/notifications/threads/{id}" : {
      "get" : {
        "summary" : "View a single thread.",
        "description" : "View a single thread.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/notifications"
            }
          }
        }
      },
      "patch" : {
        "summary" : "Mark a thread as read",
        "description" : "Mark a thread as read",
        "operationId" : "PATCH",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : { }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "Id of a thread.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/notifications/threads/{id}/subscription" : {
      "get" : {
        "summary" : "Get a Thread Subscription.",
        "description" : "Get a Thread Subscription.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/subscription"
            }
          }
        }
      },
      "put" : {
        "summary" : "Set a Thread Subscription.\r\nThis lets you subscribe to a thread, or ignore it. Subscribing to a thread\r\nis unnecessary if the user is already subscribed to the repository. Ignoring\r\na thread will mute all future notifications (until you comment or get @mentioned).\r\n",
        "description" : "Set a Thread Subscription.\r\nThis lets you subscribe to a thre...",
        "operationId" : "PUT",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/putSubscription"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/subscription"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Delete a Thread Subscription.",
        "description" : "Delete a Thread Subscription.",
        "operationId" : "DELETE",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : { }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "Id of a thread.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/orgs/{orgId}" : {
      "get" : {
        "summary" : "Get an Organization.",
        "description" : "Get an Organization.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/organization"
            }
          }
        }
      },
      "patch" : {
        "summary" : "Edit an Organization.",
        "description" : "Edit an Organization.",
        "operationId" : "PATCH",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/patchOrg"
          }
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/organization"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "orgId",
        "in" : "path",
        "description" : "Id of organisation.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/orgs/{orgId}/public_members" : {
      "get" : {
        "summary" : "Public members list.\r\nMembers of an organization can choose to have their membership publicized\r\nor not.\r\n",
        "description" : "Public members list.\r\nMembers of an organization can choose t...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/orgPublicMembers"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "orgId",
        "in" : "path",
        "description" : "Id of organisation.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/rate_limit" : {
      "get" : {
        "summary" : "Get your current rate limit status\r\nNote: Accessing this endpoint does not count against your rate limit.\r\n",
        "description" : "Get your current rate limit status\r\nNote: Accessing this endp...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/rate_limit"
            }
          }
        }
      }
    },
    "/repos/{ownerId}/{repoId}" : {
      "get" : {
        "summary" : "Get repository.",
        "description" : "Get repository.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/repo"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Delete a Repository.\r\nDeleting a repository requires admin access. If OAuth is used, the delete_repo\r\nscope is required.\r\n",
        "description" : "Delete a Repository.\r\nDeleting a repository requires admin ac...",
        "operationId" : "DELETE",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : { }
      },
      "patch" : {
        "summary" : "Edit repository.",
        "description" : "Edit repository.",
        "operationId" : "PATCH",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/repoEdit"
          }
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/repo"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/assignees" : {
      "get" : {
        "summary" : "List assignees.\r\nThis call lists all the available assignees (owner + collaborators) to which\r\nissues may be assigned.\r\n",
        "description" : "List assignees.\r\nThis call lists all the available assignees ...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/assignees"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/assignees/{assignee}" : {
      "get" : {
        "summary" : "Check assignee.\r\nYou may also check to see if a particular user is an assignee for a repository.\r\n",
        "description" : "Check assignee.\r\nYou may also check to see if a particular us...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : { }
      },
      "parameters" : [ {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "assignee",
        "in" : "path",
        "description" : "Login of the assignee.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/repos/{ownerId}/{repoId}/branches" : {
      "get" : {
        "summary" : "Get list of branches",
        "description" : "Get list of branches",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/branches"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/branches/{branchId}" : {
      "get" : {
        "summary" : "Get Branch",
        "description" : "Get Branch",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/branch"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "branchId",
        "in" : "path",
        "description" : "Id of the branch.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/collaborators" : {
      "get" : {
        "summary" : "List.\r\nWhen authenticating as an organization owner of an organization-owned\r\nrepository, all organization owners are included in the list of\r\ncollaborators. Otherwise, only users with access to the repository are\r\nreturned in the collaborators list.\r\n",
        "description" : "List.\r\nWhen authenticating as an organization owner of an org...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/collaborators"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/collaborators/{user}" : {
      "get" : {
        "summary" : "Check if user is a collaborator",
        "description" : "Check if user is a collaborator",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : { }
      },
      "put" : {
        "summary" : "Add collaborator.",
        "description" : "Add collaborator.",
        "operationId" : "PUT",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : { }
      },
      "delete" : {
        "summary" : "Remove collaborator.",
        "description" : "Remove collaborator.",
        "operationId" : "DELETE",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : { }
      },
      "parameters" : [ {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "user",
        "in" : "path",
        "description" : "Login of the user.",
        "required" : false,
        "type" : "string"
      } ]
    },
    "/repos/{ownerId}/{repoId}/commits/{ref}/status" : {
      "get" : {
        "summary" : "Get the combined Status for a specific Ref\r\nThe Combined status endpoint is currently available for developers to preview. During the preview period, the API may change without advance notice. Please see the blog post for full details.\r\nTo access this endpoint during the preview period, you must provide a custom media type in the Accept header:\r\napplication/vnd.github.she-hulk-preview+json\r\n",
        "description" : "Get the combined Status for a specific Ref\r\nThe Combined stat...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/refStatus"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "ref",
        "in" : "path",
        "description" : "(Untitled)",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/compare/{baseId}...{headId}" : {
      "get" : {
        "summary" : "Compare two commits",
        "description" : "Compare two commits",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/compare-commits"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "baseId",
        "in" : "path",
        "description" : "(Untitled)",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "headId",
        "in" : "path",
        "description" : "(Untitled)",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/contents/{path}" : {
      "get" : {
        "summary" : "Get contents.\r\nThis method returns the contents of a file or directory in a repository.\r\nFiles and symlinks support a custom media type for getting the raw content.\r\nDirectories and submodules do not support custom media types.\r\nNote: This API supports files up to 1 megabyte in size.\r\nHere can be many outcomes. For details see \"http://developer.github.com/v3/repos/contents/\"\r\n",
        "description" : "Get contents.\r\nThis method returns the contents of a file or ...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "ref",
          "in" : "query",
          "description" : "The String name of the Commit/Branch/Tag. Defaults to 'master'.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "path",
          "in" : "query",
          "description" : "The content path.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/contents-path"
            }
          }
        }
      },
      "put" : {
        "summary" : "Create a file.",
        "description" : "Create a file.",
        "operationId" : "PUT",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/createFileBody"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/createFile"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Delete a file.\r\nThis method deletes a file in a repository.\r\n",
        "description" : "Delete a file.\r\nThis method deletes a file in a repository.\r\n",
        "operationId" : "DELETE",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/deleteFileBody"
          }
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/deleteFile"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "path",
        "in" : "path",
        "description" : "(Untitled)",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/deployments" : {
      "get" : {
        "summary" : "Users with pull access can view deployments for a repository",
        "description" : "Users with pull access can view deployments for a repository",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/repo-deployments"
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "Users with push access can create a deployment for a given ref",
        "description" : "Users with push access can create a deployment for a given r...",
        "operationId" : "POST",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/deployment"
          }
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "201" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/deployment-resp"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/deployments/{id}/statuses" : {
      "get" : {
        "summary" : "Users with pull access can view deployment statuses for a deployment",
        "description" : "Users with pull access can view deployment statuses for a de...",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/deployment-statuses"
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "Create a Deployment Status\r\nUsers with push access can create deployment statuses for a given deployment:\r\n",
        "description" : "Create a Deployment Status\r\nUsers with push access can create...",
        "operationId" : "POST",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/deployment-statuses-create"
          }
        } ],
        "responses" : { }
      },
      "parameters" : [ {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "id",
        "in" : "path",
        "description" : "The Deployment ID to list the statuses from.",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/downloads" : {
      "get" : {
        "summary" : "Deprecated. List downloads for a repository.",
        "description" : "Deprecated. List downloads for a repository.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/downloads"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/downloads/{downloadId}" : {
      "get" : {
        "summary" : "Deprecated. Get a single download.",
        "description" : "Deprecated. Get a single download.",
        "operationId" : "GET",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/downloads"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Deprecated. Delete a download.",
        "description" : "Deprecated. Delete a download.",
        "operationId" : "DELETE",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : { }
      },
      "parameters" : [ {
        "name" : "downloadId",
        "in" : "path",
        "description" : "Id of the download.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "ownerId",
        "in" : "path",
        "description" : "Id of the owner.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/repos/{ownerId}/{repoId}/git/blobs" : {
      "post" : {
        "summary" : "Create a Blob.",
        "description" : "Create a Blob.",
        "operationId" : "POST",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-GitHub-Request-Id",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-GitHub-Media-Type",
          "in" : "header",
          "description" : "You can check the current version of media type in responses.\r\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-RateLimit-Limit",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "(Untitled)",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/blob"
          }
        }, {
          "name" : "X-RateLimit-Remaining",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-RateLimit-Reset",
          "in" : "header",
          "description" : "(Untitled)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Is used to set specified media type.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "(Untitled)",
            "schema" : {
              "$ref" : "#/definitions/blobs"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "repoId",
        "in" : "path",
        "description" : "Id of repository.",
        "required" : false,
        "type" : "integer",
        "format" : "int32"
      }, {
[...]
